

<section class="container">
        <div class="star" id="s1"></div>
        <div class="star" id="s2"></div>
        <div class="star" id="s3"></div>
        <div class="star" id="s4"></div>
        <div class="star" id="s5"></div>
        
        <div class="star" id="s6"></div>
        <div class="star" id="s7"></div>
        <div class="star" id="s8"></div>
        <div class="star" id="s9"></div>
        <div class="star" id="s10"></div>
    
        <div class="star" id="s11"></div>
        <div class="star" id="s12"></div>
        <div class="star" id="s13"></div>
        <div class="star" id="s14"></div>
        <div class="star" id="s15"></div>
        
        <div class="star" id="s16"></div>
</section>