
<div id="details" style="position: relative; height: 100vh">

        <a id="retour" [routerLink]="[ '/' ]">Retour</a>

        <div id="accueil" style="padding-top: 4%">
      
        <div id="book" class="image" [style.opacity]="opacity" style="position: absolute; bottom: 5%; left: 85%; z-index: 1">
          <img class="img-responsive" src="assets/img/iconeColor4.png" alt="Lights" style="width:70%">
        </div>
        
        <app-stars id="stars" style="opacity: 1; z-index: 1"></app-stars>
      

          <div class="row" style="padding-top: 3%">
            <div class="col-2" style="position: relative; padding-left: 2%;">
              <ul class="stories" style="max-height: 90vh">
                <li *ngFor="let competence of competences"
                  [class.selected]="competence === selectedCompetence"
                  (click)="onSelect(competence)">
                  {{competence.titre}}
                </li>
              </ul>
              <p style="font-size: 85%; padding-left: 2%; font-style: italic">
                PS : Cliquez sur la lune
                <br>
                PPS : Voir ce site ailleurs que sur Firefox est meilleur pour la santé des scrollbars
              </p>
            </div>
          
            <div id="texte" class="col-8" style="position: relative; padding-left: 3%; padding-top: 3%">
              <app-competence-texte [competence]="selectedCompetence"></app-competence-texte>
            </div>
          </div>
      
        </div>
        
      </div>